{{ define "head" }}
	{{ if .Site.Params.bgImg -}}
	<style>.bg-img {background-image: url('{{.Site.Params.bgImg}}');}</style>
	{{- else if .Site.Params.images -}}
		{{- range first 1 .Site.Params.images -}}
		<style>.bg-img {background-image: url('{{. | absURL}}');}</style>
		{{- end -}}
	{{- end -}}
	<style>
		.profile-pic {
			display: block;
			margin: 0 auto 1.5rem auto;
			border-radius: 50%;
			width: 200px;
			height: 200px;
			object-fit: cover;
		}
	</style>
{{ end }}

{{ define "main" }}
	{{- if (or .Site.Params.images .Site.Params.bgImg) }}
	<div class="bg-img"></div>
	{{- end }}
	<div id="spotlight" {{- if ne false .Site.Params.usesAnimation }} class="animated fadeIn" {{- end -}}>
		<div id="home-center">
			<img class="profile-pic" src="{{ "profile-pic.png" | relURL }}" alt="{{ .Site.Title }}">
			<h1 id="home-title">{{ .Site.Title }}</h1>
			{{- with .Site.Params.homeSubtitle }}
			    <div id="typewriter-container">
        			<p id="home-subtitle">{{.}}</p>
    			</div>
			{{- end }}
			{{- with .Site.Params.socialLinks }}
			<div id="home-links">
				{{ partialCached "social-icons.html" . }}
			</div>
			{{- end }}
			<nav id="home-nav" class="site-nav">
				{{ partialCached "menu.html" . }}
			</nav>
		</div>
		<div id="home-footer">{{- if templates.Exists "partials/index-footer.html" -}}{{- partialCached "index-footer.html" . -}}{{- else -}}{{- partial "footer.html" . -}}{{- end -}}</div>
	</div>
{{ end }}
